.product-thumb {
    height: 300px;
    border: 1px solid darkgray;
    margin: 15px;
    text-align: center;
    padding: 5px;
}

.product-thumb img {
    max-width: 170px;
}

.offer-image {
    max-height: 300px;
}

.carousel {
    margin-top: 20px;
}

.carousel .item {
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.carousel .item img {
    margin: 0 auto; /* Align slide image horizontally center */
}

.bs-example {
    margin: 20px;
}